<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxx.collectionuserbehaviorlibrary">

    <application>

        <service
            android:name="com.gxx.collectionuserbehaviorlibrary.service.MlStatisticsService"
            android:process=":tools" />
    </application>

</manifest>